@font-face {
    font-family: bariolThin;
    src: url('/packages/foostart/fonts/Bariol_Thin.otf');
}

@font-face {
    font-family: bariolLight;
    src: url('/packages/foostart/fonts/Bariol_Light.otf');
}

@font-face {
    font-family: bariolBold;
    src: url('/packages/foostart/fonts/Bariol_Bold.otf');
}

.bariol-thin {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.bariol-bold {
    font-family: bariolBold
}

.bariol-light {
    font-family: bariolLight
}
